fastapi
uvicorn
pydantic
python-dotenv
pytest
httpx
black
flake8
isort
kaggle
scrapy
psycopg2-binary
sqlalchemy
python-multipart
python-jose[cryptography]
passlib
bcrypt==3.2.0
requests
torch
torchvision
pillow
numpy
scikit-learn
tensorflow
nvidia-cuda-runtime-cu12
nvidia-cuda-cupti-cu12
nvidia-cudnn-cu12
nvidia-cublas-cu12
nvidia-cuda-nvcc-cu12
